/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url('/images/cover-image-dark.png');
  --bg-color: #000028;
  --font-color: #F1B2CE;
  --heading-decor-color: #DB00FF;
  --heading-color: #000028;
  --accent-color-primary: #FF0070;
  --accent-color-secondary:#FF0070;
  --color-record: #FF0070;
  --color-button: 255, 0, 112;
}