/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #FFF1F7;
  --font-color: #353430;
  --heading-decor-color: #FFC2E6;
  --heading-color: #353430;
  --accent-color-primary: #FF8DCB;
  --accent-color-secondary: #353430;
  --color-record: transparent;
  --color-button: 53, 52, 48;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */ 
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #FFF1F7;
  --font-color: #353430;
  --heading-decor-color: #FFC2E6;
  --heading-color: #353430;
  --accent-color-primary: #FF8DCB;
  --accent-color-secondary: #353430;
  --color-record: transparent;
  --color-button: 53, 52, 48;
  }
}
