/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
background-image: var(--bg-image);
background-size: cover;
background-position: center;
background-attachment: fixed;
padding: 10px;
}

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  height: 100vh;
  min-height: 688px;
  padding: 0px 0px 56px;
  position: relative;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  justify-items: end;
  min-height: 98px;
  align-self: center;
  padding-top: 65px;

}

.header__theme-menu-button {
  font-family: var(--font-default);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-default);
  line-height: 18px;
  padding: 0 13px;
  background: transparent;
  color: var(--h2-color);
  border: 0;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color);
}


.right-corner {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  position: absolute;
  top: 0px;
  right: 0px;
}

.record {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-family: var(--font-default);
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  position: absolute;
  top: 0px;
  right: 10px;
}

.dot {
  display: block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.left-corner {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.page-heading {
  display: grid;
  font-family: var(--font-default);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--heading-decor-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;

}

.paragraph {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: var(--font-default);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-accent);
  color: var(--h3-color);
  background-color: var(--accent-color);
  max-height: 117px;
}

.content {
  font-family: var(--font-default);
  background-color: var(--bg-color);
  display: grid;
  grid-template-rows: 1fr;
  gap: 50px;
  padding: 50px 0px 50px;
}

.content-wrapper-start {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
}

.content-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
}

.content-wrapper-end {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
}

.article-heading {
  font-size: var(--font-size-text);
  line-height: var(--line-height-text);
  font-weight: var(--font-weight-accent);
  color: var(--h2-color);
}

.article-subheading {
  font-weight: var(--font-weight-accent);
  background-color: var(--accent-color);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-heading {
  font-family: var(--font-default);
  font-weight: var(--font-weight-accent);
  color: var(--h3-color);
  background-color: var(--accent-color);
}

.card-subheading {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-default);
  background-color: var(--accent-color);
}

.card-paragraph {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-default);
  line-height: var(--line-heignt-text);
  color: var(--font-color);
}

.heading-gallery {
  margin-bottom: 10px;
}

.gallery {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
  
}

.gallery-item {
  margin: 0px;
}

.gallery-image {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

.footer {
  margin-top: 50px;
  height: 100vh;
  min-height: 688px;
  align-content: center;
  position: relative;
}

.pseudo-heaader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-default);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;;
  line-height: 83%;
  color: var(--heading-decor-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}


/*768*/

@media (768px <= width < 1024px) {

  .page {
    padding: 20px;
  }

  .header {
    min-height: 1024px;;
    align-items: center;
  }

  .header__theme-menu-list {
    justify-self: end;
    padding: 0;
  }

  .page-heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .header > .paragraph {
    max-width: 364px;
    justify-self: end;
  }

  .content {
    padding: 60px 20px 80px;
    gap: 80px;
  }

  .content-wrapper-start {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .content-wrapper-start > .article-heading {
    grid-row: span 2
  }

  .content-wrapper-start > .card {
    grid-column: 2 / 4;
  }

  .content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .content-wrapper > .article-heading {
    grid-column: 1 / 2;
  }

  .content-wrapper > .card {
    grid-column: 1 / 4;
  }

  .content-wrapper-end {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .content-wrapper-end > .article-heading {
    grid-row: 1 / 2;
    max-height: 23px;
  }

  .content-wrapper-end > .article-subheading {
    grid-column: 2 / 4
  }
  .content-wrapper-end > .card {
    grid-column: 2 / 4
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
  }

  .gallery > .card-heading {
    grid-column: 1 / 4;
  }

  .gallery-item:nth-child(1) {
    grid-column: 1 / 3;
  }

   .gallery-item:nth-child(2) {
    grid-row: span 2;
  }

  .gallery-item:nth-child(3) {
    grid-row: span 2;
  }

  .gallery-item:nth-child(5) {
    grid-column: -3 / -1;
  }
  .gallery-image {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
  }

  .pseudo-heaader {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

}

/*1024*/

@media screen and (min-width: 1024px) {

  .page {
    padding: 20px;
  }

    .header {
    min-height: 768px;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
    justify-self: center;
    padding: 0px;
  }

  .left-corner {
    bottom: 0px;
  }

  .page-heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

   .header > .paragraph {
    max-width: 491px;
    justify-self: end;
  }

  .content {
    padding: 60px 20px 80px;
    gap: 80px;
  }

  .content-wrapper-start {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .content-wrapper-start > .article-heading {
    grid-row: span 2
  }

  .content-wrapper-start > .card {
    grid-column: 2 / 4;
  }

  .content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .content-wrapper > .article-heading {
    grid-row: 1 / 2;
  }

  .content-wrapper > .card {
    grid-row: 2 / 3;
  }

  .content-wrapper-end {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .content-wrapper-end > .article-heading {
    grid-row: 1 / 2;
    max-height: 23px;
  }

  .content-wrapper-end > .article-subheading {
    grid-column: 2 / 4
  }
  .content-wrapper-end > .card {
    grid-column: 2 / 4
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
  }

  .gallery > .card-heading {
    grid-column: 1 / 4;
  }

  .gallery-item:nth-child(1) {
    grid-column: 1 / 3;
  }

   .gallery-item:nth-child(2) {
    grid-row: span 2;
  }

  .gallery-item:nth-child(3) {
    grid-row: span 2;
  }

  .gallery-item:nth-child(5) {
    grid-column: -3 / -1;
  }
  .gallery-image {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
  }

  .pseudo-heaader {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

}