/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  font-family: var(--font-default);
  display: grid;
  grid-template-rows: 1fr 193px 1fr;
  height: 100vh;
  min-height: 668px;
  position: relative;
  padding: 10px;
}

.decorated-zone::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  right: 10px;
  top: 10px;
  border-top: 1px solid var(--accent-color-secondary);
  border-right: 1px solid var(--accent-color-secondary);


}

.decorated-zone::after {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: 10px;
  border-bottom: 1px solid var(--accent-color-secondary);
  border-left: 1px solid var(--accent-color-secondary);


}

.header__theme-menu {
  display: inline grid;
  align-items: baseline;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  align-items: end;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-button {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-default);
  line-height: 18px;
  padding: 0 13px;
  height: 26px;
  background: transparent;
  color: rgb(var(--color-button));
  border: 0;
}

.header__theme-menu-button_active {
  border: 1px solid rgb(var(--color-button));
}

.header__theme-menu-button:hover {
  border: 1px solid rgb(var(--color-button), 0.4);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid rgb(var(--color-button));
}

.header__theme-menu-button:focus-visible:hover {
  border-top: none;
  border-right: none;
  border-left: none;
}

.record {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: var(--color-record);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 20px;
}

.dot {
  display: block;
  width: 9px;
  height: 9px;
  background-color: var(--color-record);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--color-record);
}

.page-heading {
  display: grid;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--heading-decor-color);
  text-shadow: 4px 4px 0 var(--accent-color-primary);
  align-self: center;

}

.paragraph {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-accent);
  color: var(--heading-color);
  background-color: var(--accent-color-primary);
  align-self: center;
}

.main {
  font-family: var(--font-default);
  padding: 10px;
}

.content {
  display: grid;
  grid-template-rows: 1fr;
  gap: 50px;
  padding-bottom: 45px;
}

.content-wrapper-start {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
  padding-top: 30px;
}

.content-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
}

.content-wrapper-end {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
}

.article-heading {
  font-size: var(--font-size-text);
  line-height: var(--line-height-text);
  font-weight: var(--font-weight-accent);
  color: var(--accent-color-secondary);
}

.article-subheading {
  font-weight: var(--font-weight-accent);
  background-color: var(--accent-color-primary);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-heading {
  font-weight: var(--font-weight-accent);
  color: var(--heading-color);
  background-color: var(--accent-color-primary);
}

.card-subheading {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-default);
  background-color: var(--accent-color-primary);
}

.card-paragraph {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-default);
  line-height: var(--line-heignt-text);
  color: var(--font-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color-primary);
}

.link:hover {
  text-shadow: 2px 2px 0 var(--accent-color-primary);
  border-bottom: 2px solid var(--font-color);
}

.link:hover:focus {
  text-shadow: 2px 2px 0 var(--accent-color-primary);
  border: 1px solid var(--font-color);
}

.link:focus-visible {
  outline: none;
  border: 1px solid var(--font-color);
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
}

.gallery-item {
  margin: 0px;
}

.gallery-image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.footer {
  height: 100vh;
  min-height: 668px;
  align-content: center;
  position: relative;
  padding: 10px;
}

.pseudo-header {
  display: flex;
  font-family: var(--font-default);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  color: var(--heading-decor-color);
  justify-self: center;
}




/*768*/

@media (768px <=width < 1024px) {
  .header {
    grid-template-rows: 1fr 99px 1fr;
    min-height: 1024px;
    align-items: center;
    padding: 20px 20px 20px 0px;
  }

  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .header__theme-menu-list {
    justify-self: end;
  }

  .page-heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header>.paragraph {
    max-width: 364px;
    justify-self: end;
  }

  .record {
    top: 20px;
    right: 30px;
  }

  .main {
    padding: 20px;
  }

  .content {
    gap: 80px;
    padding: 10px 0px 80px;
  }

  .content-wrapper-start {
    display: grid;
    grid-template-columns: 1fr 226px 226px;
  }

  .content-wrapper-start>.article-heading {
    grid-row: span 2
  }

  .content-wrapper-start>.card {
    grid-column: 2 / 4;
  }

  .content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .content-wrapper>.article-heading {
    grid-column: 1 / 2;
  }

  .content-wrapper>.card {
    grid-column: 1 / 4;
  }

  .content-wrapper-end {
    display: grid;
    grid-template-columns: 1fr 226px 226px;
  }

  .content-wrapper-end>.article-heading {
    grid-row: 1 / 2;
    max-height: 23px;
  }

  .content-wrapper-end>.article-subheading {
    grid-column: 2 / 4
  }

  .content-wrapper-end>.card {
    grid-column: 2 / 4
  }

  .gallery {
    gap: 20px;
  }

  .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 30px;
  }

  .gallery-item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .gallery-item:nth-child(2) {
    grid-row: span 2;
  }

  .gallery-item:nth-child(3) {
    grid-row: span 2;
  }

  .gallery-item:nth-child(5) {
    grid-column: -3 / -1;
  }

  .footer {
    height: 100vh;
    min-height: 1024px;
    position: relative;
    padding: 20px;
  }

  .pseudo-header {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    display: flex;
    justify-self: center;
    align-self: center;
  }

}




/*1024*/

@media screen and (min-width: 1024px) {

  .header {
    grid-template-rows: 1fr 130px 1fr;
    min-height: 768px;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
    justify-self: center;
    align-self: baseline;
    padding-left: 20px;
  }

  .decorated-zone {
    padding: 20px 20px 20px 0px;
  }

  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .record {
    top: 20px;
    right: 30px;
  }

  .page-heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header>.paragraph {
    max-width: 491px;
    justify-self: end;
  }

  .main {
    padding: 20px;
  }

  .content {
    padding: 10px 0px 80px;
    gap: 80px;
  }

  .content-wrapper-start {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .content-wrapper-start>.article-heading {
    grid-row: span 2
  }

  .content-wrapper-start>.card {
    grid-column: 2 / 4;
  }

  .content-wrapper {
    display: grid;
    grid-template-columns: minmax(314px, 1fr) minmax(314px, 1fr) minmax(314px, 1fr);
  }

  .content-wrapper>.article-heading {
    grid-column: 1 / -1;
    max-width: 30%;
  }

  .content-wrapper-end {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .content-wrapper-end>.article-heading {
    grid-row: 1 / 2;
    max-height: 23px;
  }

  .content-wrapper-end>.article-subheading {
    grid-column: 2 / 4
  }

  .content-wrapper-end>.card {
    grid-column: 2 / 4
  }

  .gallery {
    gap: 20px;
  }

  .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 30px;
  }

  .gallery-item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .gallery-item:nth-child(2) {
    grid-row: span 2;
  }

  .gallery-item:nth-child(3) {
    grid-row: span 2;
  }

  .gallery-item:nth-child(5) {
    grid-column: -3 / -1;
  }

  .footer {
    min-height: 768px;
    padding: 20px;
  }

  .pseudo-header {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

}