/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-default: 'IBM Plex mono','Arial', sans-serif;
  --font-size-text: 18px;
  --line-heignt-text: 23.4px;
  --font-weight-default: 400;
  --font-weight-accent: 700;

}